include README.rst
include requirements.txt
recursive-include vendors/jsbsim/src *.h *.hxx
recursive-include vendors/jsbsim/mgw_build/src *
include pyfdm/*.pyx
include pyfdm/*.py
include setup.py
include setup.cfg
include pyfdm/cpp/*
